{% if role == "NotAuthorized" %}<h1>You are not authorized. <a href="/logout">Login</a></h1>{% endif %}
{% if not role == "NotAuthorized" %}
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

<style>

label {
  padding: 4px 4px 4px 0;
  display: block;
}

input[type=text], select {
  width: 80%;
  padding: 8px 8px;
  margin: 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=number], select {
  width: 80%;
  padding: 8px 8px;
  margin: 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form class=""
               action="{{url_for('favorites')}}"
               method="post">
                <h3>{{ error }}</h3>
                <h3>{{ title }}</h3>
                {{ wtf.quick_form(form) }}
            </form>
        </div>
        <div class="table-responsive col-md-8 table-hover">
            <table class="table">
                <thead-light>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">My Rating</th>
                    </tr>
                </thead-light>
                <tr>
                {% for user_movie in user_movies %}
                    <td> {{ user_movie.title }}       </td>
                    <td> {{ user_movie.user_rating }} </td>
                    <td><a href="/favorites/rate/{{ user_movie.title }}" class="btn btn-info">Rate it</a> </td>
                    <td><a href="/favorites/delete/{{ user_movie.title }}" class="btn btn-danger">Delete</a> </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
         </div>
     </div>
</div>


{% endblock %}
{% endif %}