<!DOCTYPE html>
<html lang="en">
<head>
  <title>Курсова робота</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vac.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-light border-bottom shadow-sm" style="background-image: url(http://127.0.0.1:5000/static/img/background.jpg); background-size: cover;">
    <h5 class="my-0 mr-md-auto font-weight-normal" style="color: white; border-radius: 5px; border: 2px solid whitesmoke; padding: 10px;">Kondratyuk AI Technologies</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if role != "NotAuthorized" %}
        <a class="p-2 text-white" style="font-size: 20px;" href="/user">User</a>
        <a class="p-2 text-white" style="font-size: 20px;" href="/movies">Movies</a>

    <a class="p-2 text-white" style="font-size: 20px;" href="/favorites">Favorites</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/directors">Directors</a>
    <a class="p-2 text-white" style="font-size: 20px;" href="/genres">Genres</a>
  </nav>
  <a class="btn btn-primary" style="font-size: 16px;" href="/logout">Log out</a>
</div>
    {% endif %}
{% block body %}<h1>Welcome page</h1>{% if role == "NotAuthorized" %}<h1>You are not authorized. <a href="/logout">Login</a></h1>{% endif %}{% endblock %}


</body>
</html>