{% if role == "NotAuthorized" %}<h1>You are not authorized. <a href="/logout">Login</a></h1>{% endif %}
{%  if not role == "NotAuthorized" %}
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

<style>

label {
  padding: 4px 4px 4px 0;
  display: block;
}

input[type=text],input[type=date], select {
  width: 80%;
  padding: 8px 8px;
  margin: 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>
<div class="container-fluid">
    <div class="row">
        {% if role == "Admin" %}
        <div class="col-md-3">
            <form class=""
               action="{{url_for('user')}}"
               method="post">
                <h3>{{ error }}</h3>
                {{ wtf.quick_form(form) }}
            </form>
        </div>
        <div class="table-responsive col-md-8 table-hover">
        {% endif %}
        {% if role == "Moderator" or role == "User"%}
        <div class="table-responsive table-hover">
        {% endif %}
            <table class="table">
                <thead-light>
                    <tr>
                        <th scope="col">Email</th>
                        {% if role == "Admin" or role == "User"%}<th scope="col">Password</th>{% endif %}
                        <th scope="col">Birthday</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead-light>
                <tr>
                {% if role != "User" %}
                {% for user in users %}
                    <td> {{ user.email }}       </td>
                     {% if role == "Admin" %}<td> {{ user.password }}         </td>{% endif %}
                    <td> {{ user.date_of_birth.strftime('%Y-%m-%d') }}  </td>
                    <td> {{ user.role.role_name }} </td>
                    {% if role == "Admin" %}
                    <td><a href="/user/edit/{{ user.user_id }}" class="btn btn-success">Edit</a> </td>
                    <td><a href="/user/delete/{{ user.user_id }}" class="btn btn-danger">Delete</a> </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
                {% if role == "User" %}
                <td> {{ users.email }}    </td>
                <td> {{ users.password }} </td>
                <td> {{ users.date_of_birth.strftime('%Y-%m-%d') }}  </td>
                <td> {{ users.role.role_name }} </td>
                {% endif %}
                </tbody>
            </table>
         </div>
     </div>
</div>

{% endblock %}

{% endif %}
